h1{
    text-align: center;

}
p{
    text-align: center;

}
#sos {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #1f618d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px #5099ca;
    transition: all 0.1s ease-in-out;
}
#fen {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #0cb315;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px #42d691;
    transition: all 0.1s ease-in-out;
}
#türk {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #dd180a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px #aa390c;
    transition: all 0.1s ease-in-out;
}
#mat {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #ffe600;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px #f2ff41;
    transition: all 0.1s ease-in-out;
}

button:active {
    box-shadow: 0 2px #1f618d;
    transform: translateY(3px);
}
